.product-detail-gallery
{
	width: 500px;
	float:left;
}

.product-detail-content
{
    overflow: hidden;	
    width: auto;
    padding-left: 20px;
}

.product-detail-container
{
	background-color: #E0ECF1;
	border: solid 1px rgb(173, 210, 209);
	margin-bottom: 5px;
	text-align: left;
	padding: 5px;
    overflow-y: auto;
}

.product-detail-container .close-btn-container
{
	float:right;
	margin-right: 20px;
}

.product-detail
{
    overflow: hidden;
}

.product-detail .pname
{
	margin: 20px 0px;
	font-size: 1.3em;
}
.product-detail .pdesc
{
	font-size: 1em;
	margin: 5px 0px;
}
.product-detail .pprice
{
	margin: 5px 0px;
}
.product-detail .form-item
{
	margin: 5px 0px;
}
.product-detail .form-item .label
{
	width: 70px;
	display: inline-block;
}
.product-detail .form-item-quantity .ui-spinner
{
    height: 20px;
}
.product-detail .form-item-quantity .quantity
{
	width: 20px;
    font-size: 0.83em;
}

.product-detail .buy-form
{
	margin: 30px auto;
	border: solid 1px black;
	padding: 20px;
	width: auto;
	border: solid 1px rgb(153, 190, 189);
}
.product-detail .form-item-buy-btn
{
	width: 150px;
	font-size: 1.5em;
	margin: 20px auto 0px;
	text-align: center;
	padding: 10px 0px;
    display: block;
}
.product-detail .form-item-buy-btn:hover
{
	background-color: #EFFBC1;	
}
.product-detail .form-item-buy-btn img
{
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 8px;
}


.product-detail .product-detail-gallery .bx-viewport{height: 480px !important;}
.product-detail .product-detail-gallery .bx-viewport li img { border: solid 2px #D893B0; padding: 1px;}
.product-detail .product-detail-gallery #bx-pager{ text-align: center; }
.product-detail .product-detail-gallery #bx-pager img{vertical-align: middle; margin: 2px;}
.product-detail .product-detail-gallery #bx-pager a{display:inline-block;}
.product-detail .product-detail-gallery #bx-pager a.active { border: solid 2px #D893B0;}

.product-img-list
{
    text-align: center;
}
.product-img-list img
{
    margin: 20px;
    border: solid 2px #F9D1E2;
    padding: 2px;
}
.product-img-list img:hover
{
    margin: 20px;
    border: solid 2px #D893B0;
}