.thumb-slider {border: none;}
.thumb-slider .ui-tabs-nav { display: none;}


.gallery-inited .gallery-viewport{width: inherit; height: 500px; background-color:white; border: 2px solid #F9D1E2;display:table-cell;
   vertical-align:middle;text-align: center;}

.gallery-inited .image-wide{width: 100%; height: auto;}
.gallery-inited .image-high{width: auto; height: 100%;}
.gallery-inited .gallery-image{max-width: 100%; max-height: 490px;}
.gallery-inited .gallery-thumb-list{width: 100%; text-align: center;margin-top:10px;}
.gallery-inited .gallery-thumb-container{width: 70px; height: 70px;display: table-cell;vertical-align: middle; text-align: center;background-color:white;border: 1px solid lightgrey;padding:2px;margin: 0px 5px;}
.gallery-inited .gallery-current-thumb{border-color: #F9D1E2;}
.gallery-inited .gallery-thumb{max-width: 100%; max-height: 100%;}